.contact {
  padding: 40px 20px;
  text-align: center;
}

.contact h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 30px;
  color: #333;
}

.contact h1 span {
  color: #3498db;
}

.container {
  display: flex;
  justify-content: center;
}

.contact_box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 800px;
  margin: auto;
}

.left, .right {
  flex: 1;
  padding: 20px;
}

.left h2 {
  font-size: 1.8em;
}

.field {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.field:focus {
  border-color: #3498db;
}

textarea {
  height: 150px;
}

.contact_btn {
  width: 100%;
  padding: 15px;
  background-color: #3498db;
  color: white;
  font-size: large;
}

.contact_btn:hover {
  background-color: #2980b9;
}

@media (max-width: 768px) {
  .contact_box {
      flex-direction: column;
      gap: 20px;
      align-items: center; /* Center items in column layout */
      width: calc(100% - 40px); /* Adjust width for mobile */
      margin-top: -20px; /* Optional adjustment for spacing */
   }

   .left, .right {
      padding: 20px; 
   }

   .contact_btn {
      padding: 12px; 
   }
}
