.hero-section {
    display: flex;
    justify-content: space-between; 
    align-items: center;           
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}


.hero {
    max-width: 45%;                
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 10px;           
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;           
}

.hero-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 5%;
}

.hero-button:hover {
    background-color: #0056b3;
}
.order-button {
    margin-left: 5%;
    margin-top: 5%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #0056b3;
}


img {
    width: 700px;
    height: auto;                  
    
}
